/* Base divs */
html, body{
    width: 100%;
    height: 100%;

    margin: 0%;
}

#game{
    position: absolute;
    display: block;
    top: 5%;
    width: 100%;
    height: 95%;

    overflow: hidden;
}

#topbar{
    position: absolute;
    display: block;
    width: 100%;
    height: 5%;
}

.topbar-button{
    position: relative;
    display: inline-block;

    margin-left: 0.5%;
    margin-top: 0.5%;
}

#version{
    position: absolute;
    right: 1%;
}

/* Story chapters */
#storyChapter{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;

    background-color: black;
    opacity: 0;
    z-index: 10;
}

.story-title{
    position: relative;
    width: 100%;
    height: 10%;

    margin-top: 2%;
    margin-bottom: 2%;

    text-align: center;
    font-size: 5vh;
}

.story-element{
    position: relative;
    width: 100%;
    height: 5%;
    
    margin-bottom: 1%;

    text-align: center;
    font-size: 2.2vh;

    opacity: 0.1;
}

/* Menus */
li{
    list-style-type: none;
}

#menus{
    display: none;
}

.menu{
    position: absolute;
    left: 35%;
    top: 5%;
    width: 30%;
    height: 80%;

    opacity: 0.95;

    z-index: 3;
}

.menu-title{
    position: relative;
    width: 100%;
    height: 10%;

    margin-top: 0%;

    text-align: center;
    font-size: 5vh;
}

#closeMenu{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 8%;
    height: 6%;

    font-size: 3vh;
}

/* Left side of the screen*/
#toeCounter{
    margin-bottom: 0.2%;
}
#toePerSecondCounter{
    margin-top: 0%;
}
.click-popup{
    position: absolute;
}

/* Alerts */
#alert{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;

    background-color: black;
    opacity: 0.8;
    
    z-index: 9;
}

#popup{
    position: absolute;
    left: 40%;
    top: 50%;
    width: 20%;
    height: auto;

    transform: translate(0, -50%);
}

#message{
    position: relative;
    width: 100%;
    height: 90%;

    text-align: center;
}

#ok{
    position: relative;
    display: block;
    width: 15%;

    margin: auto;
}

/* News ticker */
#news{
    position: relative;
    width: 100%;
    height: 5%;

    margin-top: 1%;
    margin-bottom: 1%;
}

#newsLeftBlock{
    position: absolute;
    left: 0%;
    width: 20%;
    height: 100%;
    z-index: 2;
}

#newsRightBlock{
    position: absolute;
    right: 0%;
    width: 20%;
    height: 100%;
    z-index: 2;
}

.newsItem{
    position: absolute;
    display: block;
    left: 100%;

    margin: 0%;

    text-overflow: "";
    overflow: hidden;
    white-space: nowrap;
    z-index: 0;
}

/* Upgrades */
#upgrades{
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 30%;
    height: 89%;
}

.upgrade{
    position: relative;
    width: 100%;
    height: 20%;

    margin-bottom: 5%;
}

.upgrade-header{
    display: block;
    height: 20%;

    margin: 0%;
    margin-bottom: 1%;

    font-size: 2.6vh;
}

.upgrade-description{
    display: block;
    height: 30%;

    margin: 0%;
    margin-bottom: 1%;

    font-size: 1.5vh;
}

.upgrade-price{
    display: block;
    height: 13%;

    margin: 0%;
    
    font-size: 2vh;
}

.upgrade-button{
    display: block;

    margin: 0%;
    margin-top: 1%;
}

/* Buildings */
#buildings{
    position: absolute;
    left: 30%;
    bottom: 0%;
    width: 40%;
    height: 89%;
}

.building{
    position: relative;
    width: 100%;
    height: 17%;

    margin-bottom: 1%;
}

.building-name{
    position: relative;
    width: 100%;
    height: 20%;

    margin-top: 0%;
    margin-bottom: 2.5%;

    font-size: 3vh;
}

.building-production{
    position: relative;
    width: 100%;
    height: 10%;

    margin-top: 0%;
    margin-bottom: 0.8%;

    font-size: 2vh;
}

.building-price{
    position: relative;
    width: 100%;
    height: 10%;

    margin-top: 0%;
    margin-bottom: 1.5%;

    font-size: 2vh;
}

.building-amount{
    position: absolute;
    top: 0%;
    right: 10%;
    width: 35%;
    height: 100%;

    margin: 0%;

    text-align: right;
    /*For some reason*/
    line-height: 200%;
    font-size: 8vh;
}